*{
    padding: 0.125rem;
    margin: 0;
   
}
body{
    
    justify-content: center;  
    /*distribuye horizontal*/ 
    text-align: center;
   
    font-family: 'Raleway', sans-serif;
    
}
.titulos{
    width: 99.4%;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    align-content: center;
    height: 15vh;
    border-bottom: 0.1rem solid #e1e1e1;
    justify-self: center; 
}
h1{
    font-size: 3.1rem;
}
header span{
    color: rgb(3, 123, 192);
}
.navFooter{
    width: 50rem;
    display: flex;
    /*centra a los elementos dentro del contenedor NAV*/
    justify-content: center;
    /*se alinea a si mismo OSEA AL CONTENEDOR NAV, centro , start , .*/
    justify-self: center; 
    margin-top: 1rem;
    gap: 10rem;
    margin-bottom: 4rem;
}
a{
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    font-weight: 0.031rem;
    margin-top: 0.625rem;
     
 }
h3{

    font-size: 2.5rem;
}


.segundaSection{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 31rem;  
}
.itemSegunCat{
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.sitemSegunCat{
    background-color: #037bc0;
    text-align: start;
    align-content: center;
    padding-left: 5rem;
        

}
.segundaSection h3{
    color: white;
    font-size: 2.5rem;
    padding-bottom: 1.8rem;
    font-family: 'Playfair Display', serif;
}
.segundaSection p{
    color: white;
    width: 28rem;
    font-size: 0.9rem;
    unicode-bidi: isolate;
    /*espacio entre palabras*/
    word-spacing: 0.2rem;
    /*espacio entre lineas*/
    line-height: 1.8rem ;
}


footer{
    
    border-top: 0.1rem solid #e1e1e1;
    padding-top: 3rem;
    justify-items: center;

    
}
.contenido-footer{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
    /* justify-content: start; */
    width: 72rem;
    height: 15rem;

}


.footer-categorias,.footer-Sobre,.footer-Soporte{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

footer h3{
    font-size: 2rem;  
}
footer p{
    color: #000000;
}
body>p{
    color: #000000;
}